@font-face {
    font-family: Roboto;
    src: url(../project-admin-dashboard/fonts/Roboto-Black.ttf)
}

body {
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eef2ff;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: inherit;
}
.grid-container {
    display: grid;
    grid-template-columns: minmax(250px, 15%) minmax(800px, 85%);
    grid-template-rows: minmax(200px, 15%) minmax(1200px, 85%);
}

.sidebar {
    background-color: #818cf8;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    color: white;
    font-size: 1.5rem;
    padding-left: 20px;
    display: grid;
    grid-template-columns: minmax(70px, 1fr) minmax(210px, 3fr);
    grid-template-rows: minmax(100px, 1fr) minmax(300px, 3fr) minmax(300px, 3fr);
    align-items: center;
}

.sidebar img {
    position: relative;
    bottom: 30px;
    grid-column: 1/2;
    grid-row: 1/2;
}
.sidebar h3 {
    position: relative;
    bottom: 30px;
    align-self: start;
    grid-column: 2/3;
    grid-row: 1/2;
}

.sidebar li {
    list-style-type: none;
    margin-top: 25px;
}

.nav-list {
    grid-row: 2/3;
    grid-column: 2/3;
}
.nav-settings {
    grid-row: 3/4;
    grid-column: 2/3;
}

.nav-list,
.nav-settings,
.nav-list-img,
.nav-list-settings-img {
    align-self: start;
    margin-left: -40px;
}

.nav-list-img {
    grid-row: 2/3;
    grid-column: 1/2;
    margin-top: 36px;
}

.nav-list-settings-img {
    grid-row: 3/4;
    grid-column: 1/2;
    margin-top: 35px;
}
.nav-list-img>li,
.nav-list-settings-img>li {
    margin-top: 11px;
}

.nav-list li a,
.nav-settings li a {
    position: relative;
    bottom: 27px;
}
.nav-list li a:before,
.nav-settings li a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
li a:hover:before {
   visibility: visible;
   width: 100%;
 }


 .header {
     height: 25vh;
     display: grid;;
     grid-template-columns: minmax(400px, 3fr) minmax(250px, 2fr);
     grid-template-rows: minmax(80px, 1fr) minmax(150px, 1.5fr);
     background-color: white;
     color: #4d4d4d;
     grid-column: 2/-1;
     grid-row: 1/2;
     box-shadow: 0px 1px 3px black;
 }

 .search-bar {
     position: relative;
     top: 20px;
     left: 50px;
     grid-column: 1/2;
     grid-row: 1/2;
     align-self: center;
     display: flex;
     flex-direction: row;
 }
 .searchbox {
     border-radius: 12px;
     background-color: lightgrey;
     width: clamp(80px, 70%, 80%);
     height: 25px;
     padding-left: 20px;
     border: none;
 }
.search-bar img {
    position: relative;
    bottom: 4px;
}

.welcome {
    position: relative;
    left: 50px;
    align-self: center;
    grid-column: 1/2;
    grid-row: 2/3;

    display: flex;
    flex-direction: row;
    gap: 25px;
}

.welcome img {
    width: 80px;
    height: 80px;
    position: relative;
    top: 5px;
}
.welcome-text h4 {
    margin-bottom: -6x;
}
.user-info img:nth-child(1) {
    height: 36px;
    width: 36px;
}
.user-info a:nth-child(2)>img {
    width: 50px;
    height: 50px;
}

.user-info {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 100px;
    position: relative;
    top: 20px;
}
.buttons button {
    border-radius: 15px;
    background-color: #818cf8;
    height: 40px;
    width: 120px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.buttons button:hover {
    background-color: orange;
    transition: 0.4s;
}
.buttons button:active {
    background-color: #cc8500;
}
.buttons {
    position: relative;
    left: 100px;
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: center;
    display: flex;
    gap: 30px;
}

.main {
    display: grid;
    grid-template-columns: minmax(400px, 2fr) minmax(250px, 0.5fr);
    grid-template-rows: minmax(50px, 60px) minmax(200px, 300px) minmax(50px, 80px) minmax(200px, 300px);
    position: relative;
    top: 53px;
    padding-left: 40px;
    color: #4d4d4d;
}

.projects {
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: start;
}

.announcements {
    grid-row: 1/2;
    grid-column: 2/3;
}
.articles {
    grid-row: 2/-1;
    grid-column: 1/2;
    display: flex;
    flex-flow: wrap;
    gap: 50px;
}
.article {
    width: 350px;
    height: 250px;
    background-color: white;
    border-left: 5px solid orange;
    border-radius: 10px;
    box-shadow: 0px 2px 20px black;

}